@use '@angular/material' as mat;
@include mat.core();

$md-mcgpalette0: (
  50: #e4fafe,
  100: #bdf2fc,
  200: #91e9fa,
  300: #64e0f8,
  400: #43daf7,
  500: #22d3f5,
  600: #1ecef4,
  700: #19c8f2,
  800: #14c2f0,
  900: #0cb7ee,
  A100: #ffffff,
  A200: #e5f8ff,
  A400: #b2ebff,
  A700: #98e4ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

$rest-client-primary: mat.define-palette($md-mcgpalette0);
$rest-client-accent: mat.define-palette(mat.$yellow-palette, A200, A100, A400);
$rest-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rest-client-theme: mat.define-light-theme((
  color: (
    primary: $rest-client-primary,
    accent: $rest-client-accent,
    warn: $rest-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rest-client-theme);

@font-face {
  font-family: 'Gothic';
  src: url('/assets/Gothic.ttf');
}


html, body { height: 100%; }
body { margin: 0; font-family: "Gothic", "Helvetica Neue", sans-serif; }


:root {
  --background-color: #013974;
  --action-color: #22D3F5;
}
