<div class="overlay" [ngClass]="{'show': isOpen, 'hidden': !isOpen}">
    <div class="modal">

        <div class="header">
            {{title}}
        </div>
        
        <div class="body">
            <mat-icon>
                {{icon}}
            </mat-icon>
            <p>
                {{message}}
            </p>
            <button mat-flat-button color="primary" (click)="close()">
                Volver al inicio
            </button>
        </div>

    </div>
</div>
