.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(1, 57, 116, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.modal {
    width: 350px;
    display: flex;
    flex-direction: column;
    height: auto;

    .header {
        border-radius: 5px 5px 0px 0px;
        background: transparent linear-gradient(
            90deg,
            #2971E2 0%,
            #013974 100%
        ) 0% 0% no-repeat padding-box;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        font-size: large;
        padding: 10px;
    }

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0px 0px 5px 5px;
        background-color: white;
    }
}

mat-icon {
    color: var(--action-color);
}

button {
    display: block;
    width: 80%;
    border-radius: 16px;
    color: var(--background-color);
    font-weight: 700;
    margin-bottom: 10px;
}
