<mat-card>
    <mat-card-header>
        Ingreso Oficina Virtual
        <mat-icon>favorite_outline</mat-icon>
    </mat-card-header>

    <mat-card-content>
        <p>
            <small>
                Por favor verifica que la imagen y palabra asociada que se muestran son correctas, 
                de ser así registra tu contraseña y haz clic en el botón de <b>“Continuar”</b>
            </small>
        </p>

        <div class="confirm">
            <img src="/assets/confirm.png" alt="imagen de confirmacion">
            <mat-card-title>
                AHORRO
            </mat-card-title>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Ingresa tu contraseña</mat-label>
            <span matPrefix>
                <mat-icon class="icon">
                    key
                </mat-icon>
            </span>
            <input matInput [formControl]="control" type="password">
            <!-- <mat-error *ngIf="control.hasError('minlength')">Debe al menos tener 8 caracteres</mat-error>
            <mat-error *ngIf="control.hasError('pattern')">Debe tener al menos 1 caracter especial, 1 mayuscula y 1 numero</mat-error> -->
        </mat-form-field>


        <button mat-flat-button color="primary" (click)="submit()">
            Continuar
        </button>
        <button mat-button routerLink="/login">
            Cancelar
        </button>

        <div class="options" [ngStyle]="{'margin-top': '10px'}">
            <div>
                <a routerLink="/support">
                    <mat-icon>headphones</mat-icon>
                    Soporte al cliente
                </a>
            </div>
        </div>

    </mat-card-content>
</mat-card>

<app-modal #modal></app-modal>
