mat-card {
    border-radius: 8px;
    width: 400px;
}

mat-card-header {
    border-radius: 5px 5px 0px 0px;
    background: transparent linear-gradient(
        90deg,
        #2971E2 0%,
        #013974 100%
    ) 0% 0% no-repeat padding-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: large;
    padding: 10px;
}

mat-card-content {
    padding: 0px 20px;
    p {
        text-align: center;
    }

    mat-card-title {
        font-weight: 900;
    }

    button, mat-form-field {
        display: block;
        width: 100%;
    }
    button {
        border-radius: 16px;
        color: var(--background-color);
        font-weight: 700;
        margin-bottom: 10px;
    }

    .options {
        display: flex;
        flex-direction: column;
        
        div {
            display: flex;
            justify-content: space-around;
            font-size: small;

            a {
                display: flex;
                align-items: center;
                color: grey;
                text-decoration: none;
            }

            .strong {
                font-weight: 700;
            }
        }
    }
}

.icon {
    color: grey;
}
