<mat-card>
    <mat-card-header>
        Ingreso Oficina Virtual
    </mat-card-header>

    <mat-card-content>
        <p>
            <small>
                Si eres nuevo en este portal, selecciona la opción <b>“Registro”</b> y sigue las instrucciones 
                para poder ingresar. Si ya te encuentras registrado, digita el usuario acostumbrado.
            </small>
        </p>

        <mat-card-title>
            Nombre de usuario
        </mat-card-title>

        <mat-form-field appearance="fill">
            <mat-label>Ingresa tu nombre de usuario</mat-label>
            <span matPrefix>
                <mat-icon class="icon">
                    person
                </mat-icon>
            </span>
            <input matInput [formControl]="control">
        </mat-form-field>


        <button mat-flat-button color="primary" (click)="submit()">
            Ingresar
        </button>
        <button mat-button routerLink="/register">
            Registrarse
        </button>

        <div class="options">
            <div>
                <a routerLink="/recover" class="strong">
                    <mat-icon>person</mat-icon>
                    ¿Olvidaste el usuario?
                </a>
                <a routerLink="/recover">
                    Recuperar contraseña
                </a>
            </div>
            <div>
                <a routerLink="/support">
                    <mat-icon>headphones</mat-icon>
                    Soporte al cliente
                </a>
            </div>
        </div>

    </mat-card-content>
</mat-card>
