<div class="container">

  <header class="navbar">
    <mat-toolbar>
      <img src="/assets/toolbarlogo.png" alt="logo">
      <div class="divider"></div>
      <h3>BIENVENIDO A LA OFICINA VIRTUAL DE PERSONAS</h3>
    </mat-toolbar>        
  </header>

  <main class="main-content">
    <div></div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </main>
  
</div>
