.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
    
.navbar {
    background-color: #f1f1f1;
    padding: 10px;

    img {
        width: 280px;
    }
}
    
.main-content {
    flex: 1;
    background-color: #eaeaea;
    padding: 50px 100px;
    background-image: url('/assets/wallpaper.png');
    background-size: cover;
    background-position-x: center;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 500px;
    gap: 20px;
}


h3 {
    color: var(--background-color);
    font-weight: bolder;
}

.divider {
    flex: 1 1 auto;
}
