<div class="container">
    <div class="steps">
        <span [ngClass]="{'circle': true, 'active': step >= 1}" #steps>
            <mat-icon>done</mat-icon>
        </span>
        <span [ngClass]="{'circle': true, 'active': step >= 2}" #steps>
            <mat-icon>done</mat-icon>
        </span>
        <span [ngClass]="{'circle': true, 'active': step >= 3}" #steps>
            <mat-icon>done</mat-icon>
        </span>
        <div class="progress">
            <span class="indicator" #indicator [ngStyle]="{'width': width}"></span>
        </div>
    </div>
</div>
