.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container .steps {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.steps .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: 500;
    background: white;
    z-index: 2;
    border: 2px solid white;
    transition: all 400ms ease;
    transition-delay: 0s;

    mat-icon {
        color: white;
    }
}

.container .steps .active {
    background: var(--action-color);
}

.steps .progress {
    position: absolute;
    height: 6px;
    width: 100%;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
}

.progress .indicator {
    position: absolute;
    height: 50%;
    background: var(--action-color);
    transition: all 500ms ease;
}
