<div class="container">
    <h3>Registro</h3>
    <app-stepper [step]="currentStep"></app-stepper>
    <div class="stepperLabels">
        <span>1. Terminos</span>
        <span>2. Verificacion</span>
        <span>3. Cuenta</span>
    </div>
    
    <div class="card" [ngClass]="{'inactive': currentStep != 1}">
        <mat-card>
            <mat-card-header>
                Terminos y condiciones de uso
            </mat-card-header>
        
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <textarea rows="10" matInput>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam aliquam voluptatem excepturi, alias hic ullam ipsa animi quod veniam quos sapiente, molestias dolores? Maiores aliquid quod, facere repellat minus commodi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dolorem odio velit sit? Atque nostrum ea exercitationem id accusamus! Nisi expedita cum qui veritatis amet est eveniet assumenda vitae odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dolorum iste doloremque nostrum asperiores, voluptate illo consequatur odio, totam velit perferendis a officiis amet fugiat, voluptatibus similique quas sequi error.</textarea>
                </mat-form-field>
        
                <button mat-flat-button color="primary" (click)="currentStep = 2">
                    Aceptar terminos y continuar
                </button>
                <button mat-flat-button routerLink="/login">
                    <mat-icon>arrow_back</mat-icon>
                    <span>Volver al inicio</span>
                </button>
            </mat-card-content>
        </mat-card>        
    </div>

    <div class="card" [ngClass]="{'inactive': currentStep != 2}">
        <mat-card>
            <mat-card-header>
                Verificacion
            </mat-card-header>
            <mat-card-content>
                no hay contenido aca.

                <button mat-flat-button color="primary" (click)="currentStep = 3">
                    Siguiente
                </button>
                <button mat-flat-button (click)="currentStep = 1">
                    <mat-icon>arrow_back</mat-icon>
                    <span>Volver al inicio</span>
                </button>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="card" [ngClass]="{'inactive': currentStep != 3}">
        <mat-card>
            <mat-card-header>
                Cuenta
            </mat-card-header>
            
            <mat-card-content>

                <form novalidate [formGroup]="account">
                    <span>Tipo de Identificacion</span>
                    <mat-form-field appearance="outline">
                        <mat-select 
                            placeholder="Ingresa tu tipo de identificacion" 
                            formControlName="idType" 
                        >
                            <mat-option value="C.C.">Cedula de Ciudadania</mat-option>
                            <mat-option value="T.I.">Tarjeta de Identidad</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <span>Numero de Identificacion</span>
                    <mat-form-field appearance="outline">
                        <input 
                            matInput 
                            placeholder="Ingresa tu numero de identificacion" 
                            formControlName="idNumber"
                        >
                    </mat-form-field>

                    <span>Celular</span>
                    <mat-form-field appearance="outline">
                        <input 
                            matInput 
                            placeholder="Ingresa tu numbero de celular" 
                            formControlName="phoneNumber"
                        >
                    </mat-form-field>

                    <span>Correo electronico</span>
                    <mat-form-field appearance="outline">
                        <input 
                            matInput 
                            placeholder="Ingresa tu coreo electronico" 
                            type="email" 
                            formControlName="email" 
                        >
                    </mat-form-field>
            
                    <span>Fecha de nacimiento</span>
                    <mat-form-field appearance="outline">
                        <input 
                            matInput 
                            placeholder="Ingresa tu fecha de nacimiento" 
                            type="date" 
                            formControlName="bornDate" 
                        >
                    </mat-form-field>

                    <span>Nombre de usuario</span>
                    <mat-form-field appearance="outline">
                        <input 
                            matInput 
                            placeholder="Ingresa tu nombre de usuario" 
                            formControlName="name"
                        >
                    </mat-form-field>

                    <span>Contraseña</span>
                    <mat-form-field appearance="outline">
                        <input 
                            matInput 
                            placeholder="Ingresa tu coreo electronico" 
                            type="password" 
                            formControlName="password"
                        >
                    </mat-form-field>

                    <button mat-flat-button color="primary" (click)="register()">
                        Siguiente
                    </button>
                    <button mat-flat-button (click)="currentStep = 2">
                        <mat-icon>arrow_back</mat-icon>
                        <span>Volver al inicio</span>
                    </button>    
                </form>

            </mat-card-content>
        </mat-card>
    </div>
    
</div>

<app-modal #modal></app-modal>
